body{
	margin: 0;
	padding: 0;
}
nav{
	height: 100vh;
	position: relative;
}
#check{
	display: none;
}
#central{
}
#central img{
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: #fff;
	transition: all 0.4s ease-in-out;
	border-radius: 50%;
	overflow: hidden;
}
.link{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.1s ease-out;
}
#check:checked ~ #central img{
	transform: translate(-50%, -50%) rotate(180deg);
}
#check:checked ~ a #link-1{
	transform: translate(-50%, -50%) translate(150px,150px);
}
#check:checked ~ a #link-2{
	transform: translate(-50%, -50%) translate(-150px,150px);
	transition-delay: 0.1s;
}
#check:checked ~ a #link-3{
	transform: translate(-50%, -50%) translate(150px,-150px);
	transition-delay: 0.2s;
}
#check:checked ~ a #link-4{
	transform: translate(-50%, -50%) translate(-150px,-150px);
	transition-delay: 0.3s;
}